# Gradle Project Files
/.gradle/
/**/build/

# Intellij Project Files
/.idea/
/**/out/
/src/test/
*.iml

# Personal Files
/logs/
/API/

# Exclude HTML Config File
/HTML/src/main/resources/config.json

# Image Files
*.png
*.jpg
*.ico
/src/main/resources/favicon/

# Fonts
/src/main/resources/fonts/